/Codedemos/ExceptionDemo/nbproject/private/
/Codedemos/ExceptionDemo/dist/
/LectureSlides/*.zargo~
/Codedemos/EnumerationsCreationalPatterns/nbproject/private/
/Codedemos/EnumerationsCreationalPatterns/build/
/Codedemos/VisitorPattern/nbproject/private/
/Codedemos/VisitorPattern/dist/
/Codedemos/VisitorPattern/build/